.center {
  text-align: center;
}

.inputs {
  border: 2px;
  height: 125px;
  border-style: solid;
  width: 450px;
  margin: 25px;
}

.btn {
  display: block;
  margin: -13px auto;
  /* width: 40.5%; */
  width: 100px;
  height: 25px;
  background-color: rgb(203, 219, 251);
}

.btn:hover {
  background-color: rgb(168, 197, 251);
}

.p {
  width: 475px;
  margin: 43px auto;
}
